h1{
    color: #FFA500;
    size: 30px;
    font-weight: bold;

}
.text_jedna{
    color:#0000FF ;
    size: 16px;
    font-weight: normal;
}
h2{
    color: #00FF00 ;
    size: 25px;
    font-weight: 600;
}